*{
    margin: 0;
    padding: 0;
}
.top-header{
    background: #f0f2f4;
   

}
.top-header ul{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
    text-align: center;



}
.top-header ul li{
    margin-left: 30px;
    color: #424242;

}
.top-header ul li i{
    margin-right: 5px;

}
.top-header ul li:last-child{
    margin-left: 10px;
    font-size: 20px;
    color: #1287bf;
}
.navbar-light .navbar-nav .nav-link {
    font-weight: 600;
    color: #424242;
    font-size: 18px;
    margin-left: 10px;
    text-transform: capitalize;
}
.btn-consultation{
    background: #de2b24;
    color: #fff !important;
    padding: 0;
    padding: 5px 0;
    font-size: 16px !important;
}
.banner{
    background-image: url(../image/banner--image.png);
    background-size: cover;
    background-repeat: no-repeat;


}
.banner h1{
    color: #fff;
    font-size: 40px;


}
.banner h4{
    color: #fff;
    font-weight: 300;
    text-transform: capitalize;

}
.banner button{
    background: transparent;
    border: none;
    border-radius: 3px;
    padding: 10px 30px;
    background: #f8cd53;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-size: 18px;

}
.banner .row{
    height: 80vh;
    text-align: center;

}
.about{

}
.heading{
    color: #424242;
    font-size: 40px;
    text-transform: capitalize;
   

}
.heading h1{


}
.heading h5{

}
.heading span{
    background: #424242;
    height: 5px;
    width: 0px;
    display: block;
    margin: auto;
    border-radius: 3px;
    margin-top: 10px;
    transition: .5s all ease-in-out;


}
.heading:hover span{
    width: 50px;

}
.row h3{
    margin-top: 30px;
}
.approch{
    background: #f3f3f3;
}
.approch-content{
    background: #fff;
}
.approch-content h4{
    text-transform: capitalize;
    padding: 0 60px;
    margin: 0;

}
.approch-content p{
    margin: 0;
    padding: 0 60px;

}
.step{
    background: red;
    height: 90px;
    width: 90px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
    text-align: center;

}
.step h1{
    font-size: 40px;
    font-weight: 600;
    padding-top: 5px;
    margin: 0;
    text-transform: capitalize;
    

}
.step h6{
    margin: 0;

}
.pos{
    position: relative;
}
.approch-content-left h4{
    text-transform: capitalize;
    padding: 0 60px;
    margin: 0;

}
.approch-content-left p{
    margin: 0;
    padding: 0 60px;

}
.position{
    position: relative;

}
.position .step{
    background: red;
    height: 90px;
    width: 90px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: -45px;
    transform: translateY(-50%);
    text-align: center;

}
.work{
    background: #de2b23;
}
.work h1{
    color: #fff;
}
.work h5{
    color: #fff;
}
.work span{
    background: #fff !important;
}
.single-work{
    height: 250px;
    background: #f35e59;
    position: relative;


}
.work-content{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

}
.work-content i{
    font-size: 30px;

}
.work-content h3{
    text-transform: capitalize;

}
.work-content p{

}
.img{
    height: 250px;
    overflow: hidden;
}
.contact-form{
    background: cornflowerblue;
}
.contact-form h1{
    color: #fff;
    text-transform: capitalize;

}
.contact-form p{
    color: #fff;

}
.arrow{
    background-color: transparent;
    border: none;
    font-size: 25px;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    text-align: center;

}
.form{

}
